{% extends 'base.html.twig' %}

{% block title %}
	{{ note.title }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-markup-templating.min.js"></script>
	{# Add more language components as needed, for example: #}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-php.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-javascript.min.js"></script>
{% endblock %}

{% block body %}

	{{ include('components/note_header.html.twig') }}
	<section class="grid max-w-screen-lg grid-cols-1 gap-4 px-4 mx-auto md:grid-cols-3">
		<article class="col-span-1 md:col-span-2 bg-[#f5f2f0] rounded-md p-4 md:p-6 mb-4 flex flex-col border relative">
			<button class="absolute self-end px-3 py-2 text-sm transition-all duration-200 ease-in-out rounded-md bg-neutral-300 hover:bg-neutral-500 hover:text-white w-fit bottom-2 right-2">
				copy
			</button>
			<code class="language-html">{{ note.content|escape }}</code>
		</article>
		<aside class="flex flex-col gap-4 md:col-span-1">
			<div class="flex flex-col gap-4 p-4 mb-4 border rounded-md">
				<div class="flex items-center gap-2">
					<img src="{{ note.creator.image ?? 'https://avatar.iran.liara.run/public/14' }}" alt="{{ note.creator.username }}" class="inline-block w-10 h-10 rounded-full">
					<div class="flex flex-col gap-1">
						<p class="text-xl font-bold">{{ note.creator.username }}</p>
						<p class="text-sm text-slate-600">Member since
							{{ note.creator.createdAt|time_diff }}
							ago</p>
					</div>
				</div>
				<div class="flex items-center gap-2 text-sm">
					<form action="" method="post">
						<input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">
						<input type="hidden" name="note_id" value="{{ note.id }}">
						<input type="hidden" name="creator_id" value="{{ app.user.id ?? 1 }}">
						<button type="submit" class="flex items-center self-end gap-1 px-3 py-2 transition-all duration-200 ease-in-out rounded-md bg-violet-100 hover:bg-violet-200 w-fit">
							{% set likes = note.views %}
							{{ ux_icon('mdi:heart-outline', { 'class': 'h-5 w-5 text-violet-950 mr-1 inline-block' }) }}
							{{ likes|format_number }}
						</button>
					</form>
					{% for item in note.creator.networks %}
						<a href="{{ item.url }}" class="self-end px-3 py-2 transition-all duration-200 ease-in-out rounded-md bg-violet-100 hover:bg-violet-200 w-fit">
							{{ ux_icon('mdi:' ~ item.name, { 'class': 'h-5 w-5 text-violet-950 inline-block' }) }}

						</a>
					{% endfor %}
				</div>
			</div>
			<div class="grid grid-cols-1 gap-4">
				{% for item in creatorNotes %}
					<a href="{{ path('app_note_show', {'slug': item.slug}) }}" class="flex flex-col p-4 mb-4 border rounded-md md:p-6">
						<p class="mb-1 text-base font-semibold">{{ item.title|slice(0,22) }}...</p>
						<p class="mb-2 text-sm text-slate-600">
							<img src="{{ item.category.icon }}" alt="{{ item.category.title }}" class="inline-block mr-2 h-7 w-7">
							Published
							{{ item.createdAt|time_diff }}
							ago.
						</p>
					</a>
				{% endfor %}
			</div>
		</aside>
	</section>
	<div class="max-w-screen-lg px-4 pb-6 mx-auto md:pb-16">
		{{ include('components/cta.html.twig') }}
	</div>
{% endblock %}
