{% extends 'base.html.twig' %}

{% block title %}
	{{note.title}}
{% endblock %}

{% block body %}

	{% for  message in app.flashes('success') %}

		<div class=''>
			<p>{{message}}</p>

		</div>

	{% endfor %}

	{% for  message in app.flashes('error') %}

		<div class=''>
			<p>{{message}}</p>

		</div>

	{% endfor %}

	<h1>{{note.title}}</h1>
	<pre>
		{{ dump(note) }}
	</pre>
	<a href="{{path('app_note_all')}}">
		Back to all notes
	</a>
{% endblock %}
