<nav class="flex items-center justify-between p-2 bg-slate-50">
	<a href="{{path('app_home')}}" class="flex items-center gap-1">
		<img src="{{ asset('img/logo_dark.svg')}}" alt="logo" width="32" class="transition-transform duration-200 ease-in-out rounded-full hover:scale-95">
		<p>{{'CodeXpress'| trans }}</p>
	</a>
	<div class="flex items-center justify-between gap-4">
		{{ include('components/_partials/search.html.twig') }}
		{% if app.user %}
			<div class="flex items-center justify-between gap-4">

				{{ include('components/_partials/navbar-login.html.twig') }}

			{% else %}
				{{ include('components/_partials/navbar-logout.html.twig') }}
			{% endif %}
		</div>
	</div>
</nav>
