<nav class="flex items-center justify-between p-2 bg-slate-50">
	<a href="{{path('app_home')}}" class="flex items-center gap-1">
		<img src="{{ asset('img/logo_dark.svg')}}" alt="logo" width="32" class="transition-transform duration-200 ease-in-out rounded-full hover:scale-95">
		<p>CodeXpress</p>
	</a>
	<div class="flex items-center justify-between gap-4">
		<form action="" method="post" class="items-center p-1 rounded-md md:flex bg-slate-100">
			<input type="hidden" name="csrf_token" value="{{csrf_token('authenticate')}}">
			<input type="text" name="" id='' placeholder="Search note...?" class="bg-transparent">
			<button type="submit">
				{{ ux_icon('mdi:search',{'class': 'h-6 w-6 text-neutral-600 hover:text-violet-600'}) }}

			</button>
		</form>
		{% if app.user %}
			<div class="flex items-center justify-between gap-4">
				<a href="{{path('app_note_new')}}" class="p-2 border-2 rounded-md border-neutral-700">
					{{ ux_icon('mdi:plus-thick',{'class': 'h-6 w-6'}) }}
				</a>
				<a href="{{path('app_profile_edit')}}" class="p-2 border-2 rounded-md border-neutral-700">
					{{ ux_icon('mdi:cog-outline',{'class': 'h-6 w-6'}) }}
				</a>
				<a href="{{path('app_note_user', {'username': app.user.username ?? 'martine'})}}" class="p-2 rounded-full">
					<img src="https://avatar.iran.liara.run/public/33" alt="logo" width="32" class="">

				</a>

				<a href="{{path('app_logout') }}" class="p-2 border-2 rounded-md border-neutral-700" title='logout'>
					{{ ux_icon('tabler:logout-2',{'class': 'h-6 w-6'}) }}

				</a>
			{% else %}
				<a href="{{path('app_login')}}" class="p-2 border-2 rounded-md border-neutral-700" title='login'>
					{{ ux_icon('material-symbols:login',{'class': 'h-6 w-6'}) }}
				</a>
			{% endif %}
		</div>
	</div>
</nav>
