<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
	{% for item in all_notes %}
		<div class="relative flex flex-col p-4 mb-4 border rounded-md shadow-lg md:p-6">
			{% if item.isPremium %}
				<div class="absolute bottom-0 left-0 flex items-center gap-2 px-2 py-1 text-sm bg-yellow-100 rounded-bl-md rounded-tr-md">
					{{ ux_icon('mdi:star-outline', { 'class': 'h-4 w-4' }) }}
					{{'Premium'| trans}}
				</div>
			{% endif %}
			<h5 class="mb-1">{{ item.title|slice(0,40) }}...</h5>
			<p class="mb-2 text-sm text-slate-600">{{ item.content|slice(0,100) }}...</p>
			<div class="flex justify-between">
				<p class="mb-2 text-slate-600">
					<img src="{{ item.category.icon }}" alt="{{ item.category.title }}" class="inline-block mr-2 h-7 w-7">
				</p>
				<a href="{{ path('app_note_show', {'slug': item.slug}) }}" class="self-end px-3 py-2 text-sm transition-all duration-200 ease-in-out rounded-md bg-violet-100 hover:bg-violet-200 w-fit">
					{{'check it'| trans}}
				</a>
			</div>
		</div>
	{% endfor %}
</div>
