<form action="{{ path('app_like', {'id': note.id}) }}" method="post">
	<input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">
	<input type="hidden" name="note_id" value="{{ note.id }}">
	<input type="hidden" name="creator_id" value="{{ currentUser }}">
	<button type="submit" class="flex items-center self-end gap-1 px-3 py-2 transition-all duration-200 ease-in-out rounded-md bg-violet-100 hover:bg-violet-200 w-fit">
		{% if this.hasUserLiked %}
			{{ ux_icon('mdi:heart', { 'class': 'h-5 w-5 text-violet-950 mr-1 inline-block' }) }}
		{% else %}
			{{ ux_icon('mdi:heart-outline', { 'class': 'h-5 w-5 text-violet-950 mr-1 inline-block' }) }}
		{% endif %}
		{{ this.likesCount|format_number }}
	</button>
</form>
