<a href="{{path('app_note_all')}}" data-tooltip="All Notes" class="p-2 border-2 rounded-md border-neutral-700" title='notes'>
	{{ ux_icon('mdi:archive-outline',{'class': 'h-6 w-6'}) }}
</a>


<a href="{{path('app_login')}}" data-tooltip="Login" class="p-2 border-2 rounded-md border-neutral-700" title='login'>
	{{ ux_icon('mdi:user',{'class': 'h-6 w-6'}) }}
</a>

<a href="{{path('app_register')}}" data-tooltip="Register" class="p-2 border-2 rounded-md border-neutral-700" title='register'>
	{{ ux_icon('mdi:register-outline',{'class': 'h-6 w-6'}) }}
</a>
{# When the user is logged out  #}
